/* @import url('./colors_root.css'); */

body {
  min-height: 100vh;
  display: flex; align-items: center; justify-content: center;
  background: var(--lt-body-bg);
}
body.dark {
  background: var(--dk-body-bg);
}

.music {
  position: relative;
  width: 450px;
  min-height: 600px;
  padding: 30px;

  display: flex; justify-content: end; align-items: center;
  flex-direction: column;

  background: var(--lt-player-bg);
  border: 4px solid var(--lt-player-border);
  border-radius: 40px;

  box-shadow: 10px 10px 25px rgba(56, 60, 66, 0.3),
  -10px -10px 25px rgba(255, 255, 255, 0.6),
  inset 10px 10px 20px rgba(255, 255, 255, 0.6);
}
body.dark .music {
  background: linear-gradient(to top, var(--dk-player-bg-grdn-d), var(--dk-player-bg-grdn-l));
  border: 2px solid var(--dk-player-border);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.8),
  -10px -10px 25px rgba(255, 255, 255, 0.1),
  inset 10px 10px 20px rgba(200, 200, 200, 0.1);
}

.music .main-icon-container {
  position: absolute;
  top: 30%;
  transform: translateY(-60%);
  width: 220px;
  height: 220px;
  display: flex; justify-content: center; align-items: center;
  overflow: hidden;

  border: 4px solid var(--lt-player-bg);
  border-radius: 50%;
  box-shadow:
  inset 5px 5px 10px rgba(130, 154, 183, 0.55),
  inset -5px -5px 10px rgba(255, 255, 255, .55),
  10px 10px 15px rgba(130, 154, 183, 0.55),
  -10px -10px 15px rgba(255, 255, 255);
}

.music .main-icon-container .spinner {
  position: absolute;
  isolation: isolate;
  z-index: -1;
  width: 100%; height: 100%;
  border-radius: 50%;
  background: linear-gradient(#4e4376, #2b5876);
  filter: blur(20px);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  } to {
    rotate: 360deg;
  }
}

.music .main-icon-container::after {
  content: '';
  position: absolute;
  width: 50%; height: 50%;
  border-radius: 50%;
  border: 3px solid var(--lt-player-bg);
}

.music .main-icon-container .main-icon {
  width: 110px;
  height: 110px;
  display: flex; justify-content: center; align-items: center;

  /*! New way to apply GRADIENT BORDERS! */
  background: var(--lt-player-highlight-1);  
  border: 2px solid var(--lt-player-highlight-1);
  border-radius: 50%;

  box-shadow: 
  inset 3px 3px 5px rgba(255, 255, 255, 0.35),
  inset -3px -3px 5px rgba(98, 135, 255, 0.9);
}
body.dark .music .main-icon-container .main-icon {
  background: linear-gradient(
      var(--dk-player-highlight-1), 
      var(--dk-player-highlight-1)
    ) padding-box,
    linear-gradient(
      to top left,  
      var(--dk-big-button-border-grdn-d),
      var(--dk-big-button-border-grdn-l)
    ) border-box;

  box-shadow: 
  inset 2px 2px 4px hsla(var(--dk-button-shadow-grdn-d), 0.9),
  inset 5px 5px 10px hsla(var(--dk-button-shadow-grdn-l), 0.9),
  inset -5px -5px 10px hsla(var(--dk-button-shadow-grdn-d), 0.9),
  10px 10px 15px rgba(0, 0, 0, 0.6),
  -10px -10px 15px rgba(200, 200, 200, 0.2);;
}

.music .main-icon-container .main-icon ion-icon {
  position: relative;
  left: -3px;
  width: 50px;
  height: 50px;
  color: var(--lt-player-bg);
}
body.dark .main-icon-container .main-icon ion-icon {
  color: white;
}

.music .title {
  width: 300px;
  display: inline-flex;
  /* justify-content: center; */
  margin-bottom: 10px;

  white-space: pre;
  /* text-align: center; */
  /* overflow: hidden; */
  
  font-weight: 400;
  font-size: 1.2em;
  color: var(--lt-player-highlight-1);
}
body.dark .music .title {
  color: var(--dk-player-highlight-1);
}

/* @keyframes marquee {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-421px);
  }
} */
/* if text width > container's fix width then marquee */
